<!--Pagina padre-->
<div class="flex flex-col items-center">
  <h1 class="text-7xl text-red-500 font-extrabold">Angular Masterclass</h1>
  <div class ="flex flex-col my-5 w-full border-2 rounded-md p-4 space-y-5">
<section class ="flex flex-col space-y-4 mt-6">
  <div class="bg-slate-700 py-2 px-4 rounded-md shadow-md cursosr-pointer">

    <div class ="flex justify-between items-center">
      <h3 class="text-gray-200 font-bold">Title</h3>
      <span class="text-xs font-bold rounded-full text-white px-2 bg-green-400">Done</span>
    </div>
    <div class=""flex justify-between items-center>
      <p class="text-gray-200">Lorem Ipsun</p>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 text-red-400 cursor-pointer">
        <path fill-rule="evenodd"
        d="M8.75 1A2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.4821.149-.022.841 10.518" clip-rule="evenodd"/>
      </svg>
      
    </div>
  </div>

</section>
</div>
</div>